.container {
    display: flex;
    width: 15rem;
    height: 100%;
    background: #100f0f;
    font-family: 'Courier New', Courier, monospace;


    .btnprimary {
        font-family: 'Courier New', Courier, monospace;
        background: none;
        color: white;
        border: none;
        height: 50px;
        width: 100px;

        a {
            color: white;
        }
    }
}