.container {
 display: flex;
 width: 15rem;
 height: 100%;
 background: #100f0f;
 font-family: 'Courier New', Courier, monospace;


.btn-primary{ 
    background: pink;
    color:white;
    border-color: black;
    border-style: outset;
    height:50px;
    width: 100px;
    text-shadow: none;
}
}